:root {
  --grey-100: #aaa;
  --grey-200: #56585e;
  --grey-300: #32353f;
  --grey-400: #1e2235;
  --grey-500: #0d112b;
  --grey-900: #111111;
  
  --background: #000323;
  --foreground: #FFFFFF;

  --primary: #00ffbc;
}